label {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    padding-right: 20px;
  } 
.container{ 
    margin-top: 50px !important;
    width: 92%;
    background-color: rgba(0, 0, 0, 0.692);
    height: auto;
    border-radius: 20px; 
    position: fixed;
    justify-content: "center";
    align-items: "center";  
    margin-left: 80px;

} 
.input {
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
} 
.bonton{
 cursor: pointer; 
 padding: 15px 9px; 
} 
h4{  
    color:white; 
    font-family: "Times New Roman", Times, serif;
} 
h3{ 
    color: white; 
    font-family: "Times New Roman", Times, serif;
} 
p{ 
    color: white; 
    font-family: "Times New Roman", Times, serif; 
    margin-top: 40px;
} 
.create{
    cursor: pointer; 
    padding: 10px 80px; 
    border-radius: 12px;
    margin-top: 40px;

} 
.btn{ 
    cursor: pointer; 
    padding: 5px 50px; 
    border-radius: 12px;
    margin-top: 40px; 
    margin-bottom: 20px;
} 
.formulario{ 
    margin-top: 40px; 
    margin-left: 10px; 
    margin-right: 10px; 
}